<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="1" android:versionName="1.0" package="br.com.rafaelpereira.SilentPushPoC" android:installLocation="auto">
	<permission android:name="br.com.mobrj.SilentPushPoC.permission.C2D_MESSAGE" android:protectionLevel="signature" />
	<uses-permission android:name="br.com.mobrj.SilentPushPoC.permission.C2D_MESSAGE" />
	<uses-sdk android:minSdkVersion="21" android:targetSdkVersion="27" />
	<application android:label="SilentPushPoC.Android">
		<receiver android:name="com.onesignal.GcmBroadcastReceiver" android:permission="com.google.android.c2dm.permission.SEND">
			<intent-filter>
				<action android:name="com.google.android.c2dm.intent.RECEIVE" />
				<category android:name="br.com.mobrj.SilentPushPoC" />
			</intent-filter>
		</receiver>
	</application>
</manifest>